.cards-container {
	display: flex;
	height: 100%;
}
.cards-container:focus {
	outline: none;
}
@media only screen and (max-width: 600px) {
	.cards-container {
		display: flex;
		flex-direction: column-reverse;
	}
}
